/* common shared style  */
body{
    font-family: 'Josefin Sans', sans-serif;
   font-family: 'Open Sans', sans-serif;
}
.text-primary-color{
    color: #FD6E0A;

}
.btn-primary{
 color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 5px;
background: #FD6E0A;
flex-shrink: 0;
border: 0;
padding: 18px 35px 19px 36px ;

}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 230px 0 226px;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 51px;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.site-title{
    color: #181818;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-size: 45px;
font-weight: 800;
}
.btn1{
    width: 150px;
    height: 64px;
    /* padding: 18px 35px 19px 36px ; */

}
/* Header realated styles */
.header{
    width: 1600px;
     height: 837px;
    flex-shrink: 0;
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner-image{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
    /* background: url(<path-to-image>), lightgray -192.573px 0px / 173.656% 100% no-repeat; */
}